*{
    margin: 0;
    padding: 0;
}

html{
    min-width: 100%;
    min-height: 100%;
}




body {
    user-select: none;
    background: linear-gradient(to right, orange, yellow);
}


.container{
    position: absolute;
    left: 30%;
    width: 600px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: inherit;
    //box-shadow: 10px 10px 10px -10px #000000;
}

.pad{
    display: inline-block;
    text-align: center;
    width: inherit;
    margin-top: 50px;
    border-radius: inherit;
    background-color: inherit;
}

.buttons{
    position: relative;
    top: 30px;
    background-color: inherit;
}


.button{
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-top: 10px;
    margin-left: 80px;
    font-size: 20px;
    width: 150px;
    height: 35px;
    border-radius: 5px;
    border-bottom: solid 3px;
    border-color:  #a4af00;
    background-color: yellow;
}

.button:active{
    border: 0px;
    transform: translateY(3px);
}



.button .play{
    position: relative;
    background-color: red;
}

.record, .play{
    text-align: center;
    display: inline-block;
}

.record.light{
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
    border-radius: 25px;
    background-color: black;
}


.light{
    position: relative;
    top: 5px;
    left: 15px;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color: black;
    background: radial-gradient(circle, red 0%, #590003 100%);
    box-shadow: 0px 0px 20px red;
    border: 1px solid red;
}


.grid-row{
    display: block;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
}
.grid-row:first-child{
    margin-top: 30px;
}
.grid-row:last-child{
    margin-bottom: 10px;
}


.grid-cell{
    font-family: Open Sans;
    font-size: 25px;
    text-align: center;
    padding-top: 35px;
    color: grey;
    user-select: none;
    overflow: hidden;
    display: inline-block;
    margin-right: 5px;
    width: 110px;
    height: 110px;
    border: 2px solid;
    border-radius: 8px;
    border-color: darkred;
    box-shadow:2px 2px 10px -10px black;;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #000911;
    z-index: 2;
}

.grid-cell:hover{
    background-color: #242424;
}
.grid-cell:active{
    transform: scale(0.98);
}
.grid-cell.active{
    transform: scale(0.98);
}
